body{
	font-family: 'Open Sans', sans-serif;
}

#demo{
	background: lightblue;
  font-family: 'Oswald';
	color: dodgerblue;
}

#demo2{
	background: lightyellow;
  font-family: 'Raleway';
	color: dodgerblue;
}
